{% extends 'base.html' %}


{% block title %}
    {{ posts_item.title }}
{% endblock %}


{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}


  <div class="card mb-3">
  <div class="card-header">
  </div>
  <div class="card-header">

  </div>

  <div class="card-body">
    <div class="media">
      {% if posts_item.photo %}
        <img src="{{ item.photo.url }}" alt="" width="350">
      {% else %}
        <img src="https://picsum.photos/200/200" alt="" width="350">
      {% endif %}
      <div class="media-body">
        <h5 class="card-title">{{ posts_item.title }}</h5>
        <p class="card-text">{{ posts_item.content|linebreaks }}</p>
      </div>
    </div>

  </div>
  <div class="card-footer text-muted">
    {{ posts_item.created_at|date:"Y-m-d H-i:s" }},
    Категория: <a href="{{ item.category.get_absolute_url }}">{{ posts_item.category.title }}</a>
  </div>
</div>


{% endblock %}
